.contactPage {
  background-image: url("../assests/contactBack.png");
}
.contactBanner img {
  width: 440px;
  height: 600px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.conatctForm {
  display: flex;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  margin: 30px 0px;
}
.formView {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  padding: 50px;
}
input::placeholder {
  color: #b0b0b0;
}
input {
  outline-style: none;
  border-top: none;
  border: 1px solid #7f7f7f;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 15px;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 90%;
  color: #717171;
}

.formView input::after {
  height: 1px;
  width: 100px;
  color: #7f7f7f;
}

.contactPage .sectionTitle {
  color: white;
}

.formSubmit{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all .5s;
  margin-top: 20px;
}
.formSubmit div{
  margin: 0px 5px;
}
.formSubmit:hover{
  transform:  scale(1.1,1.1);
}
