.appFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.copyright{
    text-align: center;
}
.socialLinks{
    display: flex;
}
/* .socialLinks a:hover{
    color: var(--primary-color);
} */
#iconTwitter:hover{
    color: skyblue;
}
#iconFacebook:hover{
    color: blue;
}
#iconInstagram:hover{
    color: #FD1D1D;
}
.socialLinks a{
    color: var(--black) ;
}
.fIcons{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}
@media only screen and (max-width: 400px){
    .appFooter{
        flex-direction: column;
    }
    .appFooter >div{
        margin: 10px 0px;
    }
}