.galleryPage{
    background-color: var(--base-background-color);
}
.imageItem img{
    width: 300px;
    height: 300px;
    border-radius: 6px;
    margin: 20px;
    transition: all .3s;
}
.imageItem img:hover{
    transform: scale(1.2,1.2);
}
.galleryPage .sectionbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 500px){
    .imageItem img{
        width: 150px;
        height: 160px;
        margin: 5px;
    }
    .galleryPage .sectionbody{
        justify-content: space-evenly;
    }
}