@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");
:root {
  /* colors */
  --primary-color: #008080;
  --base-background-color: #f3f3f3;
  --black: #000000;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}
.socialSideLinks {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 30%;
  left: -10px;
}
.socialSideLinks .fIcons {
  width: 20px;
  height: 20px;
  color: black;
}
.sideSocialLine {
  width: 2px;
  height: 100px;
  background-color: black;
  margin: 15px 0px;
}
.sideText {
  margin: 25px 0px;
  transform: rotate(-90deg);
  font-weight: 500;
  font-size: 16px;
}

@media only screen and (max-width: 900px){
  .socialSideLinks{
    display: none;
  }
}